.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

  .container-1 {
    display: block;
    border: black;
    padding: auto;
  }
  
  .marco1 {
    padding: 20px 20px 2px 20px;
    width: 250px;
    border: 1px solid #999999;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .logo {
      text-align: start;
  }

  p{
    margin-top: auto;
    margin-bottom: 10px;

  }
  .marco2 {
      width: 100%;
      background-color: black;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: normal;
      color: aliceblue;
      text-align: center;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
  }

  .btn {
    margin-left: 30%;
    background-color: #2295f3;
    color: white;
    border: 0;
    border-radius: 8px;
    padding: 10px
  }
  @media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
        width: 50%;
        margin-left: 15%;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
    }
    .btn{
        margin-bottom: 10px;
    }
  }